<div
    class="image-drop-area_active-area"
    ondragenter={{action 'dragEnter'}}
    ondragover={{action 'dragOver'}}
    ondragleave={{action 'dragLeave'}}
    ondrop={{action 'drop'}}
>
    <input
        type="file"
        id="file-input"
        accept="image/*"
        onchange={{action 'inputChange'}} />
    {{yield}}
</div>